body {
    margin: 3px;
    background-color: rgb(177, 200, 231);
    box-sizing: border-box;
    margin-left: 2rem;
}

.judul {
    text-align: center;
}

.button {
    text-align: center;
}

hr {
    width: 50%;
    height: 2px;
    color: black;
    background-color: black;
}
h3 {
    text-align: center;
}